/* @theme mytheme */

@import 'default';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

section {
        background-color: #efefef;
        color: ＃000;
        justify-content: normal;
        font-family: 'Hiragino Maru Gothic ProN','Noto Sans JP';
        font-size: 30px;
        width: 1920px;
	height: 1080px;
        padding: 40px;
}

section.lead {
        background-color: #e2cdb0;
        color: ＃000;
        justify-content: center;
        text-align: center;
        font-family: 'Hiragino Maru Gothic ProN','Noto Sans JP';
        font-size: 60px;
        width: 1920px;
	height: 1080px;
        padding: 40px;
}

h2 {
        border-bottom: 4px solid #f0d9b7;
	font-weight: bold;

}

