/* @theme mytheme */

@import 'default';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

section {
        background-color: #gray;
        justify-content: normal;
        font-family: 'Noto Sans JP';
        font-size: 40px;
}

section.lead {
        justify-content: center;
        text-align: center;
        font-family: 'Noto Sans JP';
        font-size: 50px;
}

h2 {
        border-bottom: 2px solid ;       
}
